.site {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr auto auto;
  grid-template-areas: 
    "header"
    "main"
    "aside"
    "nav"
    "footer";
  color: white;
}

@media screen and (min-width: 34em) { 
  .site {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "header header header"
      "main main aside"
      "nav nav nav"
      "footer footer footer"
  }
}

@media screen and (min-width: 60em) { 
  .site {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 2fr auto;
    grid-template-areas: 
      "header header header header"
      "main main aside nav"
      "footer footer footer footer"
  }
}

button {
  height: 50px;
  width: 80%;
  border: black 1px solid;
  color: white;
  border-radius: 15%;
  background-color: rgb(0, 3, 160);
  margin: 5px;
}

h2 {
  align-content: center;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding-left: 0;
}


.header {
  border: white 1px solid;
  font-size: 7em;
  text-align: center;
  background-color: rgb(16, 0, 156);
  grid-area: header;
}

.main {
  border: white 1px solid;
  text-align: center;
  background-color: rgb(65, 0, 245);
  grid-area: main;
}

.aside {
  border: white 1px solid;
  text-align: center;
  background-color: rgb(12, 0, 185);
  grid-area: aside;
}

.nav {
  border: white 1px solid;
  text-align: center;
  background-color: #1f80ff;
  grid-area: nav

}

.footer {
  border: white 1px solid;
  background-color: rgb(16, 0, 156);
  grid-area: footer;
  color: white;
}